.posterContainer{
    position: relative;
    background-color: #0B1221;
}
.posterContainer img{
    width: 100%;
  }

  .row{
      display: flex;
      flex-wrap: wrap;
      padding-top: 0mm !important;
      background-color: #0B1221 !important;
  }


  .col-8{
      color: white;
      padding-left: 1rem;
      padding-bottom: 4rem;
      background-color: #0B1221 !important;
      padding-right: 2rem;
  }
.col-8 h1{
    margin: 0px !important;
}

.col-4{
    background-color: #0B1221 !important;
}

.col-4 img{
    margin-left: 0.5rem;
    border-radius: 15px;
    
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.staricon{
    height: 40px;
    width: 40px !important;
}

.ratingButton{
    display: inline-block;
    position: absolute;
}

.btn{
    background-color: #1F305A  ;
    border-color: #1F305A;
    padding: 0.5rem;
    font-size: 20px;
}

.btn:hover{
    background-color: #1F305A  ;
    border-color: #1F305A;
    cursor:initial;
}

.Overview{
    padding: 1rem;
    border-radius: 15px;
    font-size: 1rem;
    background-color: #1F305A  ;
}

.CastName{
    margin: 0mm !important;
}

.backdropImg {
    clip: rect(400px,0px,0px,0px);
    overflow: hidden;
}

@media only screen and (min-width: 768px) {

    .backdropContainer{
        height: 450px;
    }
  }


  .cast-container{
    margin-left: 1.5rem !important;
}
