.posterContainer{
    background-color: #6e005f9a;
}
.posterContainer img{
    width: 100%;
  }

  .row{
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
  }


  .col-8{
      color: white;
      padding: 2rem;
      padding-bottom: 4rem;
  }
.col-8 h1{
    margin: 0px !important;
}

.col-4 img{
    border-radius: 15px;
    
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.staricon{
    height: 40px;
    width: 40px !important;
}

.ratingButton{
    display: inline-block;
    position: absolute;
}

.btn{
    background-color: #a0078cbe  ;
    border-color: #a0078cbe;
    padding: 0.5rem;
    font-size: 20px;
}

.btn:hover{
    background-color: #a0078cbe  ;
    border-color: #a0078cbe;
    cursor:initial;
}

.Overview{
    font-size: 1rem;
    background-color: #a0078cbe  ;
}

.CastName{
    margin: 0mm !important;
}
