
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #35022e;
}

code {
  font-family: 'Nunito', sans-serif;
}

.movie{
  width: 230px;
  margin: 0.8rem;
  background-color: #6e005f9a;
  border-radius: 10px;
  color: aliceblue;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 450ms;
}

.movie img {
  max-width: 100%;
  border-radius: 10px;
}

.movie-container{
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-auto-flow: column;
  overflow:scroll;
}



.movie-info{
  padding-left: 7px;
  padding-bottom: 10px;
  padding-right: 7px;
}

.movie-info h3{
  margin: 0px !important;
  white-space:pre-wrap;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.movie:hover {
  transform: scale(1.08);
}

.search__container {
  background-color: #6e005f9a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__title {
  font-size: 50px;
  font-weight: 900;
  color: white;
  padding-left: 1.5rem;;
}

.search__input {
  width: 40%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  
  color: whitesmoke;
  background-color: transparent;

background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 3px solid white;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.search__input::placeholder {
      color: white(87, 87, 86, 0.8);
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }

.search__input:hover,
  .search__input:focus {
      padding: 12px 24px;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid white;
      border-radius: 0;
      background-position: 100% center;
  }

  p{
    background-color: #6e005f9a;
    text-align: center;
    margin: unset !important;
    padding-bottom: 1rem !important;
    padding-top: 2rem;
  }

  .searchmovie{
    width: 230px;
    margin: 1.7rem;
    background-color: #000000b2 !important;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: transform 450ms;
  }
  
  .searchmovie:hover {
    transform: scale(1.08);
  }

  .searchmovie img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .movie-container::-webkit-scrollbar {
    display: none;
  }
  .searchmovie-container::-webkit-scrollbar {
    display: none;
  }
  .searchmovie-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-auto-flow: column;
    overflow:scroll;
  }

  a {
    text-decoration: none !important;
    color: white;
}
